nav{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px !important;
    margin: 0px auto !important;
    margin-top: 10px;
    margin-bottom: 50px;
    max-width: 370px;
}

a{
  display: flex;
}

.icon{
    width: 40px;
    margin-top: auto;
}