nav{
    display: flex;
    width: 130%;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 30px;
}

.icon{
    width: 40px;
}

@media (min-width: 500px) {
    nav{
      width: 350px; 
    }
  }