/*home-page*/

.home{
    padding-top: 20% !important;
}

@media (min-width: 680px) {
    button{
      margin: 0px 20px;
    }
  }

@media (min-width: 680px) {
    .home{
        padding-top: 150px !important;
    }
}



/*create-lobby-page*/

.create-lobby{
  padding-top: 20%;
}

@media (min-width: 680px) {
  .create-lobby{
      padding-top: 150px !important;
  }
}



/*join-lobby-page*/

.join-lobby{
  padding-top: 20%;
}

@media (min-width: 680px) {
  .join-lobby{
      padding-top: 150px !important;
  }
}



/*profile-page*/

.profile{
  padding-top: 20%;
}

@media (min-width: 680px) {
  .profile{
      padding-top: 150px !important;
  }
}



/*login-page*/

.login{
  padding-top: 20%;
}

@media (min-width: 680px) {
  .login{
      padding-top: 150px !important;
  }
}

/*create-account-page*/

.create-account{
  padding-top: 20%;
}

@media (min-width: 680px) {
  .create-account{
      padding-top: 100px !important;
  }
}